# Ignora variáveis de ambiente (segurança)
.env
.claude
.venv

# Ignora o arquivo de anotações
anotacoes-agile-estimator.txt

# Ignora ambiente virtual
venv/

data/raw/*
__pycache__
.ipynb_checkpoints
mlruns
